.page-template-page-service-landing-page,
.single-landing_pages {
    .testimonial {
        padding: 15px;

        .testimonial-meta {
            display: flex;
            align-items: center;
            margin-top: 15px;

            .testimonial-headshot {
                margin-right: 15px;

                .headshot {
                    min-width: 60px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .testimonial-info {
                .testimonial-name {
                    font-weight: 900;
                    font-size: 1.2rem;
                }

                .testimonial-stars {
                    margin-top: 5px;

                    i {
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

.page-template-page-services-page {

    .services-page {
        padding: 30px 0;

        @media (max-width: 767px) {
            padding: 15px;
        }
    }
    .services-card {
        padding: 1rem;
        
        @media (max-width: 767px) {
            padding: 20px 10px;
        }

        .services-content {
            background-color: $white;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 1rem;
            
            @media (max-width: 767px) {
                padding: 20px 10px;
            }
        }

        .img-container {
            max-height: 300px;
            overflow: hidden;
            
            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 1rem;
                border-radius: 4px; // optional, if you want to slightly round images
            }
        }

        h3 {
            color: $primary;
            margin-bottom: 0.5rem;
        }
        
        .services-description {
            color: $primary;
            margin-bottom: 1rem;
        }
    } 
}
